@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pastikan background putih dan reset margin bawaan browser */
body {
  margin: 0;
  padding: 0;
  background-color: #F8F9FC; /* Warna abu-abu sangat muda */
  min-height: 100vh;
  width: 100%;
  display: block; /* Hapus display: flex bawaan Vite */
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left; /* Reset text align center bawaan Vite */
}